<footer class="pt-4 my-md-5 pt-md-5 border-top" style="background-color:rgb(66, 66, 66)">
    <div style="margin-left:80px;">
        <p class="m-0 text-dark text-left "><span style="color:white">РЕГИОНАЛЬНЫЙ СПЕЦИАЛИЗИРОВАННЫЙ ЦЕНТР<br>
                РАЗВИТИЯ ПРЕДПРИНИМАТЕЛЬСТВА И КООПЕРАЦИИ</span></p>
        <br>
        <p class="m-0 text-left" style="color: orangered;">Адрес</p>
        <p class="m-0 text-left" style="color: white;">43278, Ульяновская область, <br> город Ульяновск, улица
            Марата 2/5</p>
        <br>
        <p class="m-0 text-left" style="color: orangered;">Контакты</p>
        <p class="m-0 text-left" style="color: white;">8(8422)44-56-44</p>
    </div>
    <br>
    <div class="p-2" style="background-color: rgb(46, 46, 46);">
        <div style="margin-right: 80px;">
            <p class="text-right" style="color: white;">Сайт разработан в ИдеяIT</p>
        </div>
    </div>
</footer>