<div class="container">
    <nav class="navbar navbar-light">
        <a class="navbar-brand lh-1" href="/"><span style="color:orangered">Региональный специализированный центр <br>
                развития предпринимательства и
                кооперации</span></a>
        <nav>
            <a class="p-3" href="{% url 'courses' %}" style="color: orangered;">Учебный центр</a>
            <a class="p-3" href="{% url 'news' %}" style="color: orangered;">Новости центра</a>
            <a class="p-3" href="#" style="color: orangered;">Деятельность центра</a>
        </nav>
    </nav>
</div>