<section id="copyright">
    <div style="background-color: #14181e">
        <div class="container">
            <div class="row">
                <div class="col-xs-6" style="padding: 23px 0 0 0;">
                    <p style="float: left;">© Шаблон ИдеяIT, 2020</p>
                </div>
                <div class="col-xs-6 text-right" style="padding: 15px 0 0 0;">
                    {% load static %}
                    <p>Сайт разработан в <a href="https://ideait.ru"> <img style="height: 35px;" class="footer-logo"
                                src="{% static 'images/logo300.png' %}" alt="IDEA IT Logo"> </a> </p>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</section>