<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <a class="logo" href="#"><img style="height: 35px" src="{{ nav_logo.bot_logo.url }}" alt=""></a>
            </div>
            <div class="footer-col col-md-4">
                <h5>Адрес</h5>
                <p>{{ contact.address }}</p>
            </div>
            <div class="footer-col col-md-4">
                <h5>Телефон</h5>
                <p>{{ contact.telephone }}</p>
            </div>
        </div>
    </div>
</footer><!-- footer -->