<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ActiveBox</title>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <header id="header">
        <div class="header-content clearfix">
            <a class="logo" href="index.html">
                <img class="main-logo" style="height: 50px" src="images/logo.png" alt="">
                <img class="mobile-logo" style="height: 50px" src="images/logo05x.png" alt="">
            </a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="news.html">Новости центра</a></li>
                    <li><a href="courses.html">Дополнительное образование</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div><!-- header content -->
    </header><!-- header -->



	<section id="download" class="section download banner" role="banner" style="padding: 0">
        <div class="container banner-text" >
            <div class="col-md-10 col-md-offset-1">
                <div class=" text-center">
                    <h3>Региональный специализированный центр развития предпринимательства и кооперации</h3>
                    <h1>КУРСЫ / МАСТЕР-КЛАССЫ / СЕМИНАРЫ</h1>
                    <p class="banner-p">Адрес: Ульяновск, улица Марата 2/5 <br>
                        Телефон: 8 (8422) 44-56-44</p>
                    <a href="courses.html" class="btn btn-large">Записаться на курсы</a>
                </div><!-- banner text -->
            </div>
        </div>
    </section><!-- banner -->

    <section id="features" class="features section" style="padding: 0px">
        <div class="container" style="padding: 50px; margin-top: -100px;  background-color: white; box-shadow: 0 0 10px rgba(0,0,0,0.5)">
            <div class="row">
                <div class="col-md-3">
                    <img style="width: 100%" src="images/books.png">
                </div>
                <div class="col-md-9">
                    <p>Nunc imperdiet maximus auctor. In auctor condimentum viverra. Integer blandit risus nec leo cursus, quis finibus dolor dapibus. Praesent ut finibus nisl. Mauris porta eleifend mauris, nec semper dolor varius sagittis. Praesent iaculis dolor sem, sed luctus eros fermentum eget. Curabitur malesuada aliquam urna.</p>
                    <p>Proin neque nunc, dapibus sed ullamcorper in, luctus et ipsum.</p>
                </div>

            </div>
        </div>
    </section><!-- features -->

    <section id="courses" class="section teams" style="background-color: white; margin-top: 50px;box-shadow: 0 0 10px rgba(0,0,0,0.5)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Доступные курсы</h2>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="selected-course.html">
                        <div class="person doc">
                            <img src="images/work-8.jpg" alt="" class="img-responsive logo-courses">
                            <h5 class="role">Категория</h5>
                            <p class="role">Курсы</p>
                            <h5 class="role">Продолж.</h5>
                            <p class="role">2 месяца</p>
                            <h4>Создание и развитие отдела продаж для малого бизнеса</h4>
                        </div><!-- person -->
                    </a>
                </div>

                <div class="col-md-6 col-lg-3">
                    <a href="selected-course.html">
                        <div class="person doc">
                            <img src="images/work-7.jpg" alt="" class="img-responsive logo-courses">
                            <h5 class="role">Категория</h5>
                            <p class="role">Курсы</p>
                            <h5 class="role">Продолж.</h5>
                            <p class="role">2 месяца</p>
                            <h4>Создание и развитие отдела продаж для малого бизнеса</h4>
                        </div><!-- person -->
                    </a>
                </div>

                <div class="col-md-6 col-lg-3">
                    <a href="selected-course.html">
                        <div class="person doc">
                            <img src="images/work-7.jpg" alt="" class="img-responsive logo-courses">
                            <h5 class="role">Категория</h5>
                            <p class="role">Курсы</p>
                            <h5 class="role">Продолж.</h5>
                            <p class="role">2 месяца</p>
                            <h4>Создание и развитие отдела продаж для малого бизнеса</h4>
                        </div><!-- person -->
                    </a>
                </div>

                <div class="col-md-6 col-lg-3">
                    <a href="selected-course.html">
                        <div class="person doc">
                            <img src="images/work-7.jpg" alt="" class="img-responsive logo-courses">
                            <h5 class="role">Категория</h5>
                            <p class="role">Курсы</p>
                            <h5 class="role">Продолж.</h5>
                            <p class="role">2 месяца</p>
                            <h4>Создание и развитие отдела продаж для малого бизнеса</h4>
                        </div><!-- person -->
                    </a>
                </div>

                <div class="col-md-12 repeat" style="margin-top: 50px; text-align: center">
                    <a href="courses.html" class="btn btn-large">Все доступные курсы</a>
                </div>
            </div>
        </div>
    </section><!-- teams -->

    <section id="teams" class="section teams" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Новости нашего центра</h2>
                </div>
                <div class="col-md-4">
                    <div class="news">
                        <img src="images/news-1.jpg" alt="" class="img-responsive">
                        <div class="person-content">
                            <h4>Aenean risus erat lobortis sed arcu ut mattis</h4>
                            <p>15.09.2018</p>
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                            <a href="selected-news.html">Читать всю новость</a>
                        </div>
                    </div><!-- person -->
                </div>
                <div class="col-md-4">
                    <div class="news">
                        <img src="images/news-1.jpg" alt="" class="img-responsive">
                        <div class="person-content">
                            <h4>Aenean risus erat lobortis sed arcu ut mattis</h4>
                            <p>15.09.2018</p>
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                            <a href="selected-news.html">Читать всю новость</a>
                        </div>
                    </div><!-- person -->
                </div>
                <div class="col-md-4">
                    <div class="news">
                        <img src="images/news-1.jpg" alt="" class="img-responsive">
                        <div class="person-content">
                            <h4>Aenean risus erat lobortis sed arcu ut mattis</h4>
                            <p>15.09.2018</p>
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                            <a href="selected-news.html">Читать всю новость</a>
                        </div>
                    </div><!-- person -->
                </div>
                <div class="col-md-12 repeat" style="margin-top: 50px; text-align: center">
                    <a href="news.html" class="btn btn-large ">Все новости центра</a>
                </div>
            </div>
        </div>
    </section><!-- teams -->





    <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <a class="logo" href="#"><img style="height: 35px" src="images/logo-white.png" alt=""></a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>Адрес</h5>
                        <p>432071, Ульяновская область, город Ульяновск, улица Марата 2/5</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>Телефон</h5>
                        <p>8 (8422) 44 56 44</p>
                    </div>
                </div>
            </div>
    </footer><!-- footer -->

    <!-- Copyright -->
    <section id="copyright">
        <div style="background-color: #14181e">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6" style="padding: 23px 0 0 0;">
                        <p style="float: left;">© 2018 АНО</p>
                    </div>
                    <div class="col-xs-6 text-right" style="padding: 15px 0 0 0;">
                        <p>Сайт разработан в <a href="http://ideait.ru"> <img style="height: 35px;" class="footer-logo" src="images/logo300.png" alt="IDEA IT Logo"> </a> </p>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
    </section>
    <!-- End Copyright -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/main.js"></script>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       
        ga('create', 'UA-XXXX-X');
        ga('send', 'pageview');
    </script>
</body>
</html>